#babylon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #1e1e1e;
}

#dock {
  background: #aeaeae;
  transition: 0.1s;
  position: fixed;
  bottom: 0.5rem;
  left: 50%;
  padding: 0;
  margin: 0;
  transform: translateX(-50%);
  border-radius: 2rem;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

#dock ul {
  padding: 0;
  height: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dock ul li:first-child {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

#dock ul li:last-child {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

#dock ul li {
  cursor: pointer;
  display: flex;
  height: 4rem;
  width: 4rem;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 0.1s;
}

#dock ul li:hover {
  background: #999999;
}

#dock ul li:active {
  background: #1e1e1e;
}
